<div style="text-align:center">
  <h1> We are Sofa </h1>
</div>

<div> Sofa is a software and interaction design company. We develop products and help others design theirs</div>
<div> software - We make some really good Mac and web applications. </div>
<div> Design - a sample of our work, from icons to entire interfaces. </div>
<div> Company - Sofa was founded in 2006 and it's based on Amsterdam. </div>
<div> Blog - Our thoughts on design, code and everything else. </div>



<router-outlet></router-outlet>
