<div style="text-align:center">
  <h1> We are Sofa </h1>
</div>

<div>
  <input type="text" name="Sofa is a software and interaction design company. We develop products and help others design theirs" >  <br>
</div>

<div>
  software - We make some really good Mac and web applications.
  Design - a sample of our work, from icons to entire interfaces.
  Company - Sofa was founded in 2006 and it's based on Amsterdam.
  Blog - Our thoughts on design, code and everything else.

</div>

<router-outlet></router-outlet>
