<div style="text-align:center">
  <h1> We are Sofa </h1>
</div>

<div align="center"> 
  Sofa is a software and interaction design company. We develop products and help others design theirs 
</div>

<div align = "left"> 
  <h2> software </h2> We make some really good Mac and web applications. 
</div>

<div align = "center"> 
  <h2> Design </h2> a sample of our work, from icons to entire interfaces. 
</div>

<div align = "justify"> 
  <h2>Company </h2> Sofa was founded in 2006 and it's based on Amsterdam. 
</div>

<div align = "right"> 
  <h1>Blog </h1> Our thoughts on design, code and everything else. 
</div>



<router-outlet></router-outlet>
